
<h1> Hello Welcome {{ username }} !</h1>

<input type="text" [(ngModel)]= "message"> <br>
<button (click)="postFeed">Post</button>

<hr>

<h1>Feeds:</h1>
<br><br>
<div *ngFor="let feed of feeds">
username: {{ feed['username'] }} <br>
message: {{ feed['message'] }} <br>





</div>
